web/src/test/resources/dataset/dtd-20131217.dtd

<!ELEMENT dataset (
   (CITY|
    COMMENTS|
    COMPANY|
    FEEDBACKS|
    INTERVIEW|
    INTERVIEW_QUESTION|
    POSITIONS|
    TECHNOLOGIES|
    USERS)*)>

<!ELEMENT CITY EMPTY>
<!ATTLIST CITY
    ID CDATA #REQUIRED
    CITYNAME CDATA #IMPLIED
>

<!ELEMENT COMMENTS EMPTY>
<!ATTLIST COMMENTS
    ID CDATA #REQUIRED
    QUESTION_ID CDATA #REQUIRED
    RATE CDATA #REQUIRED
    AUTHORNAME CDATA #REQUIRED
    EMAIL CDATA #IMPLIED
    COMMENTTEXT CDATA #REQUIRED
    USERPICURL CDATA #IMPLIED
>

<!ELEMENT COMPANY EMPTY>
<!ATTLIST COMPANY
    ID CDATA #REQUIRED
    COMPANYNAME CDATA #IMPLIED
    COMPANYPHONE CDATA #IMPLIED
    COMPANYLOGOURL CDATA #IMPLIED
    COMPANYADDRESS CDATA #IMPLIED
    COMPANYWEBPAGE CDATA #IMPLIED
    COMPANYTYPE CDATA #IMPLIED
>

<!ELEMENT FEEDBACKS EMPTY>
<!ATTLIST FEEDBACKS
    ID CDATA #REQUIRED
    CREATETIME CDATA #IMPLIED
    CHECKED CDATA #IMPLIED
    FEEDBACKTEXT CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
>

<!ELEMENT INTERVIEW EMPTY>
<!ATTLIST INTERVIEW
    ID CDATA #REQUIRED
    USERID CDATA #REQUIRED
    FEEDBACK CDATA #IMPLIED
    CREATED CDATA #IMPLIED
    CITY_ID CDATA #IMPLIED
    POSITION_ID CDATA #IMPLIED
    TECHNOLOGY_ID CDATA #IMPLIED
    COMPANY_ID CDATA #IMPLIED
>

<!ELEMENT INTERVIEW_QUESTION EMPTY>
<!ATTLIST INTERVIEW_QUESTION
    ANSWER CDATA #IMPLIED
    CREATED CDATA #IMPLIED
    ID CDATA #REQUIRED
    INTERVIEWID CDATA #IMPLIED
    QUESTION CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    USERID CDATA #IMPLIED
>

<!ELEMENT POSITIONS EMPTY>
<!ATTLIST POSITIONS
    ID CDATA #REQUIRED
    POSITIONGROUP CDATA #IMPLIED
    POSITIONNAME CDATA #IMPLIED
>

<!ELEMENT TECHNOLOGIES EMPTY>
<!ATTLIST TECHNOLOGIES
    ID CDATA #REQUIRED
    TECHNOLOGYNAME CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
>

